A { color: #6666CC} 
A:LINK {color:#6666CC; text-decoration:none} 
A:VISITED {color:#6666CC; text-decoration:none} 
A:HOVER {color:#6666CC; text-decoration:underline}
BODY { background-color: #FFFFFF} 
BLOCKQUOTE { text-align: Left; line-height: 100%; margin: 10} 
BR { margin-top: 1; margin-bottom: 1 } 
.FONT_NORMAL { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt } 
.FONT_HEAD { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; text-align: Left; line-height: 100%; color: #666600; font-weight: bold; margin-left:0; margin-right: 0; margin-top:0; margin-bottom: 0 } 
.FONT_LARGE { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; margin: 0 } 
P { line-height: normal; margin-left: 5; margin-right: 5; margin-top: 5; margin-bottom: 5 } 
LI { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; white-space: normal; list-style-type: square} 
OL { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;color: #000000; white-space: normal; list-style-type: decimal} 
UL { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; list-style-type: none; list-style-color: #0000FF}